* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.main-container {
  position: relative;
  display: grid;
  background: black;
  color: white;
  grid-gap: 5px;
  grid-template-columns: 1em 4fr 2fr 1em;
  grid-template-rows: 1em 40vh 10em calc(60vh - 12em - 20px) 1em;
  grid-template-areas: ". . . ." ". zoom prize ." ". question prize ." ". question lifeline . " ". . . ."; }
  .main-container .zoom-container {
    grid-area: zoom; }
  .main-container .prize-chart-container {
    grid-area: prize; }
    .main-container .prize-chart-container .prize-chart-box {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-align: center; }
      .main-container .prize-chart-container .prize-chart-box .prize-list {
        list-style-type: none; }
        .main-container .prize-chart-container .prize-chart-box .prize-list li {
          font-size: 1.5rem;
          font-weight: normal;
          margin: 0.3em 0;
          transform: scale(1);
          transition: transform 150ms ease-in; }
          .main-container .prize-chart-container .prize-chart-box .prize-list li.active-prize {
            transform: scale(1.7);
            font-weight: bold;
            margin: 0.5em 0;
            border-radius: 50%; }
          .main-container .prize-chart-container .prize-chart-box .prize-list li.bronze {
            box-shadow: inset 0 0 10px 4px #cd7f32, 0 0 15px 8px #cd7f32; }
          .main-container .prize-chart-container .prize-chart-box .prize-list li.silver {
            box-shadow: inset 0 0 10px 4px white, 0 0 15px 8px white; }
          .main-container .prize-chart-container .prize-chart-box .prize-list li.gold {
            box-shadow: inset 0 0 10px 4px gold, 0 0 15px 8px gold; }
        .main-container .prize-chart-container .prize-chart-box .prize-list .line-break {
          position: relative;
          display: block;
          height: 4px; }
          .main-container .prize-chart-container .prize-chart-box .prize-list .line-break span.line-break-left,
          .main-container .prize-chart-container .prize-chart-box .prize-list .line-break span.line-break-right {
            position: absolute;
            display: block;
            height: 3px;
            width: 4.5em;
            background: white; }
          .main-container .prize-chart-container .prize-chart-box .prize-list .line-break span.line-break-left {
            left: -6em; }
          .main-container .prize-chart-container .prize-chart-box .prize-list .line-break span.line-break-right {
            right: -6em; }
          .main-container .prize-chart-container .prize-chart-box .prize-list .line-break span.milestone-limit {
            background: gold; }
  .main-container .question-container {
    grid-area: question;
    text-align: center;
    display: flex;
    flex-direction: column; }
    .main-container .question-container .question-box {
      grid-area: question-box;
      width: 95%;
      margin: 5px auto;
      min-height: 100px;
      border-radius: 20px;
      border: 1px solid gold;
      padding: 10px 5px; }
      .main-container .question-container .question-box p {
        font-size: 1.5rem;
        line-height: 2.7em; }
    .main-container .question-container .answer-box {
      grid-area: answer-box;
      width: 95%;
      margin: 5px auto;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: calc(100% - 100px); }
      .main-container .question-container .answer-box .answer-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        list-style-type: none; }
        .main-container .question-container .answer-box .answer-list li {
          position: relative;
          width: calc(50% - 10px);
          display: block;
          padding: 30px 5px;
          border: 1px solid gold;
          border-radius: 20px;
          margin: 5px;
          font-size: 1.6rem;
          transform: scale(1);
          transition: transform 200ms ease-in-out;
          cursor: pointer; }
          .main-container .question-container .answer-box .answer-list li:hover {
            transform: scale(1.05);
            font-weight: bolder;
            background: gold;
            box-shadow: inset 0 0 5px 45px gold, 0 0 15px 8px gold; }
          .main-container .question-container .answer-box .answer-list li span {
            position: absolute;
            left: 20px; }
  .main-container .life-line-container {
    grid-area: lifeline;
    display: flex;
    justify-content: center;
    align-items: center; }
    .main-container .life-line-container .life-line-box {
      width: 100%; }
      .main-container .life-line-container .life-line-box .life-line-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .main-container .life-line-container .life-line-box .life-line-list li {
          display: inline-block;
          font-size: 2em;
          font-weight: bolder;
          line-height: 50px;
          color: gold;
          border: 5px solid gold;
          border-radius: 50%;
          padding: 20px;
          margin: 5px 10px;
          background: black;
          text-align: center;
          width: 100px;
          height: 100px;
          transform: scale(1);
          transition: transform 200ms ease-in-out; }
          .main-container .life-line-container .life-line-box .life-line-list li.fifty-fifty p {
            line-height: 25px; }
            .main-container .life-line-container .life-line-box .life-line-list li.fifty-fifty p span {
              display: block;
              width: 60px;
              height: 2px;
              background: gold; }
          .main-container .life-line-container .life-line-box .life-line-list li.opt-google, .main-container .life-line-container .life-line-box .life-line-list li.times-two {
            font-size: 4em; }
          .main-container .life-line-container .life-line-box .life-line-list li:hover {
            transform: scale(1.1);
            color: white;
            background: gold;
            box-shadow: inset 0 0 5px 45px gold, 0 0 15px 8px gold; }
            .main-container .life-line-container .life-line-box .life-line-list li:hover.fifty-fifty p span {
              background: white; }
  .main-container .prize-chart-container,
  .main-container .life-line-container {
    border: 5px solid gold;
    border-radius: 5px; }
