*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
// variables
$primary-color: black;
$ascent-color: gold;
$light-color: white;
$warning-color: red;
$affirmative-color: lime;
$disabled-color: lightgray;
$bronze-color: #cd7f32;
///////////

.main-container {
  position: relative;
display: grid;
background: $primary-color;
color: white;
grid-gap: 5px;
grid-template-columns: 1em 4fr 2fr 1em;
grid-template-rows: 1em 40vh  10em calc(60vh - 12em - 20px) 1em;
grid-template-areas:
          ". . . ."
          ". zoom prize ."
          ". question prize ."
          ". question lifeline . "
          ". . . .";
  .zoom-container {
    grid-area: zoom;
}
  .prize-chart-container{
    grid-area: prize;
    .prize-chart-box {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-align: center;
      overflow-y: scroll;
      .prize-list {
        list-style-type: none;
          li {
            font-size: 1.5rem;
            font-weight: normal;
            margin: 0.3em 0;
            transform: scale(1);
            transition: transform 150ms ease-in;
            &.active-prize {
              transform: scale(1.7);
              font-weight: bold;
              margin: 0.5em 0;
              border-radius: 50%;
            }
            &.bronze {
              box-shadow: inset 0 0 10px 4px $bronze-color, 0 0 15px 8px $bronze-color;
            }
            &.silver {
              box-shadow: inset 0 0 10px 4px white, 0 0 15px 8px white;
            }
            &.gold{
              box-shadow: inset 0 0 10px 4px $ascent-color, 0 0 15px 8px $ascent-color;
            }
          }
          .line-break {
            position: relative;
            display: block;
            height: 4px;
            span.line-break-left,
            span.line-break-right {
              position: absolute;
              display: block;
              height: 3px;
              width: 4.5em;
              background: $light-color;
            }
            span.line-break-left {
              left: -6em;
            }
            span.line-break-right {
            right: -6em;
            }
            span.milestone-limit {
              background: $ascent-color;
            }
          }
      }
    }
  }
  .question-container{
    grid-area: question;
    text-align: center;
    display: flex;
    flex-direction: column;
      .question-box {
        grid-area: question-box;
        width: 95%;
        margin: 5px auto;
        min-height: 100px;
        border: 1px solid $ascent-color;
        padding: 10px 5px;
          p {
            font-size: 1.5rem;
            line-height: 2.7em;
          }
      }
      .answer-box {
        grid-area: answer-box;
        width: 95%;
        margin: 5px auto;
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: calc(100% - 100px);
        .answer-list {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          list-style-type: none;
          li {
            position: relative;
            width: calc(50% - 10px);
            display: block;
            padding: 30px 5px;
            border: 1px solid gold;
            margin: 5px;
            font-size: 1.6rem;
            transform: scale(1);
            transition: transform 200ms ease-in-out;
            cursor: pointer;
            &:hover {
              transform: scale(1.05);
              background: $ascent-color;
              box-shadow:inset 0 0 5px 45px gold, 0 0 15px 8px gold;
            }
            span {
              position: absolute;
              left: 20px;
            }
          }


        }
      }
  }
  .life-line-container {
    grid-area: lifeline;
  }
  .prize-chart-container,
  .life-line-container {
    border: 5px solid $ascent-color;
    border-radius: 5px;
  }
}
